.carousel-image {
    height: 400px; /* Ajusta la altura de las imágenes del carrusel */
    object-fit: cover; /* Asegúrate de que las imágenes cubran el área del carrusel */
}

.carousel-title {
    font-size: 2rem; /* Tamaño de fuente para el título del carrusel */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra de texto para mejor visibilidad */
}

.carousel-text {
    font-size: 1.2rem; /* Tamaño de fuente para el texto del carrusel */
}

/* Estilo de las tarjetas de servicio */
.service-card {
    transition: transform 0.3s; /* Animación al pasar el mouse */
}

.service-card:hover {
    transform: scale(1.05); /* Efecto de hover */
}

/* Estilo del footer */
footer {
    background-color: #f8f9fa; /* Fondo del footer */
    padding: 1rem 0; /* Espaciado */
}

.service-card .text-danger {
    font-size: 1.2em; /* Tamaño de fuente mayor */
    margin-top: 10px; /* Espacio entre la descripción y la oferta */
}

