/* Materiales.css */

/* Contenedor general */
.materiales-container {
    padding: 2rem;
    background-color: #f9f9f9;
}


/* Estilo de la sección de productos */
.material-card {
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.material-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Estilo de los botones */
.button-group .btn {
    font-weight: bold;
}

/* Sección de contacto */
.contact-form-section {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-top: 2rem;
}

.contact-title {
    color: #000000;
    margin-bottom: 1rem;
}

/* Estilo del formulario */
.contact-form .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.contact-form .form-control:focus {
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



/* Responsividad */
@media (max-width: 768px) {
    .contact-form-section {
        margin-top: 1rem;
    }

    .footer-section {
        padding: 1rem 0;
    }

    .material-card {
        margin-bottom: 1.5rem;
    }
}