/* Pisos.css */

body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #000;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

p {
    color: #495057;
    line-height: 1.6;
    margin-bottom: 20px; /* Espaciado entre párrafos */
}

.container {
    padding: 20px;
}

.image-small {
    max-width: 50%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 10px; /* Espaciado vertical para la imagen */
}

.image-small.float-right {
    float: right; /* Permite que la imagen flote a la derecha */
}

.image-small.float-left {
    float: left; /* Permite que la imagen flote a la izquierda */
}

/* Botón */
button {
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e03e3e; /* Cambiar color al pasar el ratón */
}